1;Product Ad;Photoshop;1,
2;Product Image;Illustrator;2,
3;New Logo;Adobe Indesign;3,
4;Company Image;Photoshop;4,
5;Redesign Logo;Adobe Indesign;5,
6;Service Ad image;Photoshop;6,
7;Banner Design;Photoshop;7,
8;Recreate Ad;Illustrator;8,
9;Product Image;Photoshop;9,
10;Create Design;Illustrator;10,
11;New Logo;Photoshop;11,
12;Company Ad;Photoshop;12,
13;Alternate Logo;Adobe Indesign;13,
14;Product Image;Photoshop;14,
15;Banner with Logo;Illustrator;15,
16;New Image;Photoshop;16,
17;Design;Photoshop;17,
18;Website Logo;Adobe Indesign;18,
19;Product Image;Illustrator;19,
20;Service Ad;Photoshop;20,
